.container{
  width: 1000px;
  margin: 0px auto;

}

@media (max-width: 950px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  .top a{
    margin: 50px;
  }
}

@media (max-width: 750px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .top a{
  margin: 20px;
}

@media (max-width: 650px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
